<h3>Equipment</h3>
<ul>
  <li *ngFor='let item of equipment'>

    <span *ngIf="itemBeingEdited !== item; else editItemBlock">
      <span (click)="edit(item)" class="editable-text">{{ item }}</span>
      <button (click)="remove(item)">remove</button>
    </span>

    <ng-template #editItemBlock>
      <input #updateItem (keyup.enter)="save(updateItem.value, item)" value="{{item}}" />
      <button (click)="save(updateItem.value, item)">save</button>
    </ng-template>

  </li>
  <input #itemName type="text"/>
  <button (click)="add(itemName.value); itemName.value=''">Add</button>
</ul>
